---
---
<!DOCTYPE html>
<html lang="en-US">
   {% include head.html %}
      <div class="grid-warning lemon-bg white centered">
         Hey! It looks like your browser does not support CSS Grids. Most of the layout of this website relies on that feature set so if something looks funny that is probably why.
      </div>
      <div class="project-head span-full centered construction">
         <img src="assets/img/website-under-construction.png" />
      </div>
      {% include footer.html %}
   </body>
</html>
