---
layout: default
---

<div id="portfolio">
   {% for i in site.projects %}
   {% if i.listed == "no" %}
      {% continue %}
   {% else %}
     {% assign id = i.id | split: "/" %}
     <div class="project {{id.last}}">
        <a href="{{i.url}}" class="centered">
          {% if i.lazy %}
            <img class="thumbnail lazy" src="{{i.lazy}}" data-src="{{ i.src | default: "/assets/img/" }}{{ i.thumbnail }}"/>
          {% else %}
            {% assign thumbnail = i.src | append: i.thumbnail %}
            {% include image.html class="thumbnail" img=thumbnail %}
          {% endif %}
           <div class="white">
           <h3>{{i.title}}</h3>
         </div>
        </a>
     </div>
   {% endif %}
   {% endfor %}
</div>
