<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <title>{{site.title}}</title>
   <meta name="author" content="Heidi Kieffer">
   <meta name="description" content="Heidi Kieffer's design portfolio">
   <link rel="preload" as="style" href="/assets/main.css"/>
   <link rel="preload" as="style" href="https://use.typekit.net/pbi5szf.css"/>
   <link rel="stylesheet" type="text/css" href="/assets/main.css">
   <link rel="stylesheet" href="https://use.typekit.net/iuv2vsz.css">
   <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600" rel="stylesheet">
   <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
   {% include favicon.html %}
   <script type="text/javascript">
     document.addEventListener("DOMContentLoaded", function(event) {
        var lazySources =[].slice.call(
         document.querySelectorAll(".lazy > source")
        )

        var lazyImages = [].slice.call(
          document.querySelectorAll('.lazy > img')
        )

        if ("IntersectionObserver" in window) {
           let lazyImageObserver =
            new IntersectionObserver(function(entries, observer) {
               entries.forEach(function(entry) {
                if (entry.isIntersecting) {
                   let lazyImage = entry.target;
                   lazyImage.srcset = lazyImage.dataset.srcset;
                   lazyImageObserver.unobserve(lazyImage);
                 }
              });
             });

           lazySources.forEach(function(lazyImage) {
            lazyImageObserver.observe(lazyImage);
           });

           lazyImages.forEach(function(lazyImage) {lazyImage.onload = function(){
                                lazyImage.parentElement.classList.remove("lazy");
                                lazyImage.parentElement.classList.add("loaded");
                                console.log('done')}});
        } else {
          // Not supported, load all images immediately
         lazySources.forEach(function(image){
             image.nextElementSibling.src = image.nextElementSibling.dataset.srcset;
           });
         }
       });
   </script>
</head>
