{% assign id = page.id | split: "/" %}
{% assign img = include.img | split: "/" %}

{% if page.collection == "projects" %}
	{% assign classes = id.last | append: "-img project-img "%}
{% endif %}

{% if include.img contains "img" %}
	<picture class="{{include.class}} centered">
		<source type="image/webp" media="(min-width: 1080px)" srcset="/assets/img/webp/{{ img.last }}" />
		<source type="image/webp" media="(max-width: 799px)" srcset="/assets/img/webps/{{ img.last }}" />
		<source media="(max-width: 799px)" srcset="/assets/img/thumbnail/{{ img.last }}" />
		<source media="(min-width: 1080px)" srcset="/assets/img/medium/{{ img.last }}" />
		<img class="{{classes}}" src="/assets/img/medium/{{ img.last }}" />
	</picture>
{% else %}
	<img class="{{classes}} {{include.class}}" src="{{ include.img }}" />
{% endif %}
