{% assign id = page.id | split: "/" %}
{% assign img = include.img | split: "/" %}
{% if page.collection == "projects" %}
	{% assign classes = id.last | append: "-img project-img "%}
{% endif %}

{% if include.img contains "img" %}
	<picture class="{{include.class}} centered">
		<source type="image/webp" srcset="/assets/img/webp/{{ img.last }} 1080w, /assets/img/webps/{{ img.last }} 800w">
		<source srcset="/assets/img/medium/{{ img.last }} 1080w, /assets/img/small/{{ img.last }} 800w">
		<img class="{{classes}}" src="/assets/img/medium/{{ img.last }}">
	</picture>
{% else %}
	<img class="{{classes}} {{include.class}}" src="{{ include.img }}">
{% endif %}

