<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
		var lazySources =[].slice.call(
			document.querySelectorAll(".lazy > source")
			)

		var lazyImages = [].slice.call(
			document.querySelectorAll('.lazy > img')
			)

		if ("IntersectionObserver" in window) {
		let lazyImageObserver =
		new IntersectionObserver(function(entries, observer) {
			entries.forEach(function(entry) {
				if (entry.isIntersecting) {
				let lazyImage = entry.target;
				lazyImage.srcset = lazyImage.dataset.srcset;
				lazyImageObserver.unobserve(lazyImage);
				}
				});
			});

lazySources.forEach(function(lazyImage) {
		lazyImageObserver.observe(lazyImage);
		});

lazyImages.forEach(function(lazyImage) {lazyImage.onload = function(){
		if (lazyImage.currentSource != lazyImage.src ){
		lazyImage.parentElement.classList.remove("lazy");
		lazyImage.parentElement.classList.add("loaded");
		}
		console.log('done')}});
		} else {
			// Not supported, load all images immediately
			lazyImages.forEach(function(image){
					image.src = image.dataset.srcset;
					});
		}
});
</script>

