function lazy_loader(event) {
	var lazyPictures = [].slice.call(document.querySelectorAll('picture.lazy'));
lazyPictures.forEach(pic => console.log(pic.children));
	if ("IntersectionObserver" in window) {
		let lazyPictureObserver = new IntersectionObserver((entries, _) => {
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					let lazyPic = entry.target;
					for (let img of lazyPic.children) {
						img.srcset = img.dataset.srcset;
					}
					lazyPic.classList.remove("lazy");
					lazyPic.classList.add("loaded");
                        		lazyPictureObserver.unobserve(lazyPic);
				} 
			});
		});
		lazyPictures.forEach((lazyImage) => lazyPictureObserver.observe(lazyImage));
	} else {
		// Not supported, load all images immediately
                lazyPictures.forEach((picture) => picture.childNodes.forEach((image) => image.src = image.dataset.srcset));
	}
}

document.addEventListener("DOMContentLoaded", lazy_loader);

