.about-grid {
   grid-column-gap: 5rem;

   @media (min-width: 32em) {
      margin-top: 2em;
   }
}

.portrait {
  display: block;
}

.portrait img {
   width: 100%;

   @media (min-width: 32em) {
      max-height: 80vh;
      min-height: 30rem;
      float: right;
      width: unset;
   }
}

#bio {
   padding: 1em;

   @media (min-width: 32em) {
      max-width: 75%;
      padding: 0em 1em 0em 0em;

      p {
        font-size: 1.2em;
      }
   }

   .extra-space {
      margin-bottom: 2em;
   }
}

#social-icons {
   list-style: none;
   display: flex;
   justify-content: space-between;
   width: 11rem;
   -webkit-padding-start: 0em;
   font-size: 1.4rem;
   padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.link-fade {
   &:hover {
      color: blue;
      text-decoration: underline;
   }
}

.about-footer {
   margin-top: 2em;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   div {
      display: flex;
      width: 10em;
      flex-direction: column;
      align-items: center;
      margin-left: 5em;
      margin-right: 5em;
   }

   h2 {
      color: gray;
      font-size: 1.45em;
   }

   ul {
     -webkit-margin-before: 0;
     -webkit-margin-after: 0;
   }

   @media (min-width: 32em) {
      flex-direction: row;
   }
}

.copyright {
   height: 6em;
   font-size: 0.8em;
}
