#deluxe-iphone {
	img {
		width: 45%;
	}
}

#imac-1, #imac-2, #imac-3 {
	background-color: #efebe6;
}

#deluxe {
	.project-head {
		background-color: #D1D0D0;
		img {
			height: unset;
			max-width: 65%;
			box-shadow: 0 0.5em  1rem #a1a1a1
		}
	}
}

.deluxe {
	background-color: #D1D0D0;

	.thumbnail {
		height: unset;
		max-width: 65%;
		box-shadow: 0 0.5em  1rem #a1a1a1
	}
}

.deluxe-img {
	object-fit: scale-down;
}
