$deluxe-primary: #D1D0D0;
$deluxe-secondary: #000;

#deluxe-iphone {
	img {
		min-width: 45%;
	}
}

#imac-1, #imac-2, #imac-3 {
	background-color: #efebe6;
}

#deluxe {
	.project-head {
		background-color: $deluxe-primary;
		img {
			height: unset;
			max-width: 65%;
			box-shadow: 0 0.5em  1rem #a1a1a1
		}
	}

	.project-description {
		background-color: $deluxe-secondary;
	}
}

.deluxe {
	background-color: $deluxe-primary;

	.thumbnail img {
		height: unset;
		max-width: 65%;
		box-shadow: 0 0.5em  1rem #a1a1a1;
	}
}

.deluxe-img {
	object-fit: scale-down;
}
