$dish-primary: #fef200;
$dish-secondary: #FFFFFF;

#dish {
  .project-description{
    background-color: $dish-primary;
    color: $dish-secondary;
  }
}

#dish .project-head {
    background-image: url(/assets/img/dish-header.jpg);
    background-repeat: round;
}

#dish .project-head img {
	height: unset;
	width: 40%;
	position: absolute;
	top: 30%;
}

.dish .thumbnail {
    height: unset;
    width: 40%;
    position: absolute;
    top: 20%;
}

#issuu .issuuembed {
	width: 100%;
	height: 100%;
}
