$dish-primary: #fef200;
$dish-secondary: #FFFFFF;

#dish {
  .project-description{
    background-color: $dish-primary;
    color: $dish-secondary;
  }
}

.dish {
    background-color: $dish-primary;
}
