header * {
	display: inline-block;
}

header h1 {
	padding-right: 0.7rem;
	-webkit-margin-after: 0em;
    -webkit-margin-before: 0.5rem;
	font-family: 'IBM Plex Mono', monospace;
}

header .logo {
    font-size: 1.3em;
	text-align: center;
	min-width: 12em
}

header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: baseline;
	font-size: 0.7em;
	height: 7rem;
}

.selected {
	text-decoration: underline;
}

@media (min-width: 30em) {
	header .logo {
		-webkit-margin-after: 0.67em;
      		padding-right: 0rem;
	}

	header {
		align-items: center;
	}

	header nav {
		position: relative;
		bottom: 0.1em;
	}

   header .center {
      position: relative;
   }
}
