header * {
	display: inline-block;
}

header h1 {
	padding-right: 0.7rem;
	-webkit-margin-after: 0em;
    -webkit-margin-before: 0.5rem;
	font-family: 'IBM Plex Mono', monospace;
}

header .logo {
    font-size: 1.3em;
	text-align: center;
	min-width: 12em
}

header h2 {
	font-family: "adobe-caslon-pro",serif;	
}

header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: baseline;
	font-size: 0.7em;
	height: 7rem;
	flex-direction: row;
}

.selected {
	border-bottom: 1px solid black;
}

.nav-icon {
	height: 2.2em;
	width: 8em;
	margin: 0.4em
}

header a {
	order: 1;

   @media (min-width: 30em) {
   	order: 0;
   }
}
