$larry-primarry: #77a4a1;
$larry-secondary: #F6F9F2;

#lazy-larrys {
  .project-head {
    background: url("/assets/img/larry-background.jpg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 32em) {
      background-repeat: round;
    }

    img {
      max-width: 60rem;
      object-fit: unset;
    }
  }

  .project-description{
    background-color: $larry-primarry;
  }

}

#larry-truck, #larry-store {
  background-color: $larry-secondary;
}

#larry-store, #larry-truck {
  img {
  max-width: 80%;
  height: 100vh;

  @media (min-width: 32em) {
    max-width: 40%;
  }
}}

.larry-picture {
   @extend %project-picture;
   object-fit: cover;
}

.larry-lg-picture {
   @extend %project-picture;
}

#larry-pattern {
  background-size: 60%;
  background-image: url(/assets/svg/larry-pattern.svg);
  height: 100vh;

  @media (min-width: 32em) {
    background-size: 30%;
  }
}

.lazy-larrys {
    background-color: $larry-primarry;

    .thumbnail {
      width: 65%;
    }
}


#sundance-trailer {
  background: black;
  height: 75vh;

  @media (min-width: 32em) {
    height: 100vh;
  }
  
  .embed-container {
  width: 75%;
  height: 80%;
  background: black;
}}

.sundance {
  background-color: #EFEBE9;

  .thumbnail {
    width: 75%;
  }
}