$larry-primarry: #77a4a1;
$larry-secondary: #F6F9F2;

#lazy-larrys {
  .project-head {
    .banner {
      max-width: 60rem;
      object-fit: unset;
    }
  }

  .project-description{
    background-color: black;
  }
}

#larry-store, #larry-truck {
  background-color: $larry-secondary;

  img {
  max-width: 80%;
  height: 100vh;

    @media (min-width: 32em) {
      max-width: 40%;
      height: unset;
    }
  }
}

#larry-pattern {
  background-size: 60%;
  background-image: url(/assets/svg/larry-pattern.svg);
  height: 100vh;

  @media (min-width: 32em) {
    background-size: 30%;
  }
}

.lazy-larrys {
    background-color: $larry-secondary;

    .thumbnail {
      width: 45%;
    }
}

#larry-shirt, #sundance-merch, #larry-matchbook, #larry-truck, #larry-store, #nelson-svg {
  height: unset;
  min-height: 100vh;
}
