$nelson-primary: #0E6C3A;

#nelson-svg, #nelson .project-head {
	background-color: $nelson-primary;
}

#nelson .project-head img {
	height: unset;
	width: 30%;
}

#nelson .project-description {
	background-color: black;
	color: white;
}

#nelson-svg {
	justify-content: space-around;
	img {
		height: 100vh;

		@media (min-width: 30em) {
			height: unset;
			width: 22%;
		}
	}
}

.nelson{
	.thumbnail {
		height: unset;
		width: 30%;
	}
}
