#sundance-trailer {
  background: black;
  height: 75vh;

  @media (min-width: 32em) {
    height: 100vh;
  }
  
  .embed-container {
  width: 75%;
  height: 80%;
  background: black;
}}

.sundance {
  background-color: black;

  .thumbnail {
    width: 75%;
  }
}

#sundance .project-head {
  background-color: black;

  img {
    height: unset;
    max-width: 50%;
  }
}