.embed-container {
   width: 100%;
   height: 100%;

   iframe, object, embed {
      width: 100%;
      height: 100%;
   }
}

#sundance-trailer {
	background: black;
	
	.embed-container {
	width: 75%;
	height: 80%;
	background: black;
}}