---
layout: default

nav-selection: about
---
<article class="about-grid default-grid">
   <div class="span-half">
      <img id="portrait" src="{{page.portrait}}">
   </div>
   <div id="bio" class="span-half">
      {{ content }}
      {% include download-btn.html href="/assets/resume.pdf"%}
   </div>
   <div class="about-footer span-full">
   	<div>
   		<h2>Phone</h2>
   		205 937 7291
   	</div>
   	<div>
   		<h2>Email</h2>
   		hmk0016@auburn.edu
   	</div>
   	<div>
   		<h2>Social</h2>
   		{% include social-icons.html %}
   	</div>
   </div>
   <div class="span-full centered copyright">
   		&copy; Heidi Kieffer 2019; All rights reserved
   </div>
</article>
