---
layout: default

nav-selection: projects
---
{% assign id = page.id | split: "/" %}
<article id="{{id.last}}" class="default-grid">
   <section class="project-head span-full fill-screen centered">
      {% if page.banner-bg %}
        {% include image.html class="banner-bg" img=page.banner-bg %}
      {% endif %}

      {% include image.html class="banner" img=page.banner %}
   </section>
   <section class="project-description span-full">
      <div class="text-area">      
        {% for paragraph in page.description %}
          <p class="description">{{paragraph}}</p>
        {% endfor %}
        <p class="type">{{page.type}}</p>
        {% if page.awards %}
          <ul class="awards">
            {% for award in page.awards %}
              <li>{{award}}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
   </section>
   {% include blocks.html page_sections=page.page_sections %}
</article>
